# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

#Trello Keys
BOARDID = Trello-board-id
TRELLO_KEY = trello-api-key
TRELLO_TOKEN = trello-token
LISTTODO = todolist_id
LISTDOING = doinglist-id
LISTDONE = donelist-id