{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Clive's To-Do App</h1>
    <p class="lead">Just another to-do app.</p>

     <!-- form for new item entry-->
   <div class="newitem">
    <form action="/newitem" method="POST" class="newitem">
      <div class="newitem">
        <p class="lead"><b><u>Enter details of new task.</u></b></p>
        <label class="lead" for="newitem">New Item Details: </label>
        <input type="text" name="newitem" id="newitem" required>
        <input type="submit" value="Add to List">
      </div>        
    </form>
  </div>
   <!-- End of new item form-->
  </div>
   
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li>
            <!--button type="button" class="btn btn-success">Mark as Done</button-->
            {{ item.status }} - {{item.title}}
            
          </li>
        {% endfor %}
        <!-- List the todo items here -->
      </ul>
    </div>
  </div>
 
<!--
     <div>

      experiment
     <button type="button" class="btn btn-primary">Primary</button>
     <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
</div>
-->
{% endblock %}