
{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Clive's To-Do App</h1>
    <p class="lead">Just another to-do app.</p>

    <!-- New item creation-->
    <div class="row">
      <div class="col-md-12">
        <h5>New item</h5>
        <form action="{{ url_for('add_item') }}" method="POST">
          <div class="form-group form-row align-items-center">
            <div class="col-auto">
              <label for="title-input">Title</label>
            </div>
            <div class="col">
              <input type="text" name="title" id="title-input" class="form-control">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-success">Add Item</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <ul class="list-group mb-4">
          <h2>To do Items</h2>
          {% for item in view_model.todo_items %}
          <li class="list-group-item flex-column">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mt-1 mb-1">{{ item.name }}</h6>
              <!--inactive button to show status of item in list todo / doing / done-->
              <!--button to control status of item in list  doing / done/ reopen-->
              <span class="badge badge-secondary">todo</span>
            </div>

            <div>
              <!--button to control status of item in list  doing / done/ reopen-->
              <form action="{{ url_for('commence_item', id=item.id) }}" method="POST">
                  <button type="submit" class="badge badge-info">Start item</button>
              </form>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-12">
      <ul class="list-group mb-4">
        <h2>Items In Progress</h2>
        {% for item in view_model.doing_items %}
        <li class="list-group-item flex-column">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mt-1 mb-1">{{ item.name }}</h6>
            <!--inactive button to show status of item in list todo / doing / done-->
            <!--button to control status of item in list  doing / done/ reopen-->
            <span class="badge badge-primary">Open</span>
          </div>

          <div>
            <!--button to control status of item in list  doing / done/ reopen-->
            <form action="{{ url_for('complete_item', id=item.id) }}" method="POST">
                <button type="submit" class="badge badge-success">Complete</button>
            </form>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-12">
    <ul class="list-group mb-4">
      <h2>Done Items</h2>
      
      {% if view_model.show_all_done_items %}
        
        <form action="{{ url_for('show_recent_complete') }}" method="POST">
          <button type="submit" class="badge badge-info">Show Recent</button>
        </form>  
        
        {% for item in view_model.done_items %}
        <li class="list-group-item flex-column">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mt-1 mb-1">{{ item.name }}</h6>
            <!--inactive button to show status of item in list todo / doing / done-->
            <!--button to control status of item in list  doing / done/ reopen-->
            <span class="badge badge-success">Complete</span>
          </div>

          <div>
            <!--button to control status of item in list  doing / done/ reopen-->
            <form action="{{ url_for('reopen_item', id=item.id) }}" method="POST">
                <button type="submit" class="badge badge-warning">Re-open item</button>
            </form>
          </div>
        </li>
      {% endfor %}
    {% else %}
      
      <form action="{{ url_for('show_aged_complete') }}">
        <button type="submit" class="badge badge-info">Show last 5 aged</button>
      </form>  
      
      {% for item in view_model.recent_done_items %}
      <li class="list-group-item flex-column">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mt-1 mb-1">{{ item.name }}</h6>
          <!--inactive button to show status of item in list todo / doing / done-->
          <!--button to control status of item in list  doing / done/ reopen-->
          <span class="badge badge-success">Complete</span>
        </div>

        <div>
          <!--button to control status of item in list  doing / done/ reopen-->
          <form action="{{ url_for('reopen_item', id=item.id) }}" method="POST">
              <button type="submit" class="badge badge-warning">Re-open item</button>
          </form>
        </div>
      </li>
      {% endfor %}        
        
    {% endif %}
  </ul>
</div>
  </div>
{% endblock %}